
#bg {
    background-image: url(./bgmovie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:fit-content;
    z-index: -1;
    .content {
        width: 50%;
        margin: 0 auto;
        background-color: rgba(128, 128, 128, 0.34);

    }
}

h2 {
    color: orange;
    font-size: 16px;
}

button {
    border-radius: 8px;
    font-weight: 700;
}

ul {
    list-style: none;
    padding: 0;
    .choNgoi {
        display: inline-block;
        margin-right: 15px;
        &::before {
            content: '';
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-right: 10px;
        }
    }
    .chon {
        &::before {
            content: '';
            background: green;
        }
    }
    .duocDat {
        &::before {
            content: '';
            background: red;
        }
    }
    .trong {
        &::before {
            content: '';
            background: white;
        }
    }
}

input[type=checkbox] {
    width: 13px;
    margin-right: 14px;
    margin-left: 5px;
    cursor: pointer;
    &::before{
        content: '';
        display: inline-block;
        text-align: center;
        width: 25px;
        height: 20px;
        border: 3px solid orange;
        background-color: #ffffff;
        border-radius: 5px;
    }
    &:checked::before{
        background-color: green;
    }
}

.loiDi{
    width: 40px;
}

.loiDi2 {
    height: 40px;
}

.screen {
    background-color: orange;
    height: 80px;
    text-align: center;
    margin-top: 30px;
    padding: 24px 0;
    font-size: 20px;
    font-weight: 600;
}

.title {
    width: 170px;
    background-color: #ffffff;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.showThongTin {
    width: 170px;
    height: 100px;
    background-color: #ffffff;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.trong {
    height: 5px;
}

.trongTD {
    width: 5px;
}

                    
                
        